.map
  position absolute
  top 0px
  right 0px
  background black
  border-right 1px solid darken(#ab0000, 10%)

  path.land
    fill darken(#ab0000, 50%)
    stroke lighten(#ab0000, 15%)
  path.boundaries
    fill none
    stroke darken(#ab0000, 10%)
  .incidents
    circle
      transition opacity 0.8s
      opacity 0.8
      &.downlight
        opacity 0
  .highlight-circles
    circle
      stroke white
      fill white
      fill-opacity 0.2
      stroke-dasharray 4, 3
      stroke-width 2
  .important-circles
    &.hidden
      display none
    circle
      stroke white
      fill white
      fill-opacity 0.2
      stroke-dasharray 4, 3
      stroke-width 1
      &.highlighted
        fill-opacity 0.5
        stroke-dasharray 5, 2
  .voronoi
    path
      fill transparent
