.map
  position absolute
  top 0px
  right 0px
  background black
  border-right 1px solid darken(#ab0000, 10%)

  path.land
    fill darken(#ab0000, 50%)
    stroke lighten(#ab0000, 15%)
  circle
    transition opacity 0.8s
    opacity 0.8
    &.downlight
      opacity 0
