.map
  position absolute
  top 0px
  right 0px
  background black //darken(ColorBlue, 85%)
  path.land
    fill darken(#ab0000, 50%)
    stroke lighten(#ab0000, 15%)
  circle
    // fill lighten(#ab0000, 0%)
    // stroke lighten(#ab0000, 15%)
    opacity 0
    transition opacity 0.2s
    &.active
      opacity 0.8
