@import colors
@import prefixes
@import 'components/triangle'
body
  background black
.ig
  @import basics
  @import Years
  @import Map
  @import Storyteller

.ig
  font-family Roboto, helvetica, arial, sans-serif
  position absolute
  top 0px
  left 50%
  margin-left (1024/-2px)
  width 1024px
  height 768px
  background black
  overflow hidden
