@import colors
@import prefixes
@import 'components/triangle'
body
  background black
.ig
  @import basics
  @import Years
  @import Map
  @import Storyteller

.ig
  font-family Roboto, helvetica, arial, sans-serif
  position absolute
  top 0px
  left 50%
  margin-left (1024/-2px)
  width 1024px
  height 768px
  background black
  overflow hidden
  #map-border-right
    position absolute
    right 0px
    height 100%
    width 15px
    background linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
#top-menu-shade
  height 36px
  position absolute
  top 0px
  left 0px
  width 100%
  background #2
  border-bottom 3px solid #4
