.story
  position absolute
  top 30px
  left 30px
  width 340px
  height 500px
  color #d
  h2
    line-height 1.5em
    font-weight 300
    font-size 1.8em
  p
    line-height 1.8em
    a
      color #FFF
      &:hover
        text-decoration none
  .content
    position absolute
    top 10px
    left 0px
    opacity 1
    transition left 0.4s, opacity 0.4s
    width 340px
    &.leaving
      opacity 0
      left -400px
    &.entering
      opacity 0
      left 400px
    h2
      margin 1em 0px
    p
      margin 1em 0px
      &:first-of-type
        margin-top 0px
    &.temp-content
      top 60px
  .paragraph
    position relative
    .container
      position absolute
      top 0px
      left 0px
      transition left 0.4s, opacity 0.4s
      opacity 1
      width 340px
      &.leaving
        opacity 0
        left -400px
      &.entering
        opacity 0
        left 400px

  .pager
    position absolute
    top 307px
    right -115px
    z-index 3
    width 128px
    height 50px
    background transparent
    a
      color white
      text-decoration none
      position absolute
      top 10px
      &.prev
        left 30px
      &.next
        right 44px
      .hint
        font-weight 100
        border-bottom 1px solid white
        text-align right
        position absolute
        top -4px
        right 10px

      .arrow
        display block
        border 1px solid white
        text-align center
        line-height 26px
        width 33px
        height 33px
        font-size 33px
        border-radius 50%
        position absolute
        top 0px
        left 0px
        background rgba(255,255,255,0)
        transition background 0.2s
      &:hover .arrow
        background rgba(255,255,255,0.3)
    a
    .hint
      opacity 0
      pointer-events none
      transition opacity 0.4s
    &.display-next a.next
    &.display-prev a.prev
    &.display-hint a.next .hint
        opacity 1
        pointer-events auto
  span.extreme-left
    border-bottom 1px solid #e41a1c
  span.extreme-right
    border-bottom 1px solid #a65628
  h2 span.extreme-left
    border-bottom 2px solid #e41a1c
  h2 span.extreme-right
    border-bottom 2px solid #a65628


.story-selector
  position absolute
  top 0px
  left 0px
  color white
  list-style-type none
  margin 0px
  padding 0px
  width 100%
  z-index 2
  li
    margin 0px
    width (100% / 6)
    float left
    a
      display block
      width 100%
      color white
      padding 9px 0px 8px 0px
      text-align center
      position relative
      transition padding-top 0.2s
      text-decoration none
      border-bottom 3px solid
      &:hover
        padding-top 13px
      &:active
      &.active
        padding-top 12px
    &:nth-child(1) a
      border-bottom-color #984ea3
      background darken(#984ea3, 50%)
      &:hover
      &:active
      &.active
        background darken(#984ea3, 20%)
    &:nth-child(2) a
      border-bottom-color #4daf4a
      background darken(#4daf4a, 50%)
      &:hover
      &:active
      &.active
        background darken(#4daf4a, 20%)
    &:nth-child(3) a
      border-bottom-color #377eb8
      background darken(#377eb8, 50%)
      &:hover
      &:active
      &.active
        background darken(#377eb8, 20%)
    &:nth-child(4) a
      border-bottom-color #e41a1c
      background darken(#e41a1c, 50%)
      background linear-gradient(to right, darken(#e41a1c, 50%) 0%, darken(#e41a1c, 50%) 45%, darken(#a65628, 50%) 55%, darken(#a65628, 50%) 100%);
      &:hover
      &:active
      &.active
        background darken(#e41a1c, 20%)
        background linear-gradient(to right, darken(#e41a1c, 20%) 0%, darken(#e41a1c, 20%) 45%, darken(#a65628, 20%) 55%, darken(#a65628, 20%) 100%);
      &:after
        content ""
        position absolute
        height 3px
        width 50%
        background #a65628
        bottom -3px
        right 0px
    &:nth-child(5) a
      border-bottom-color #999999
      background darken(#999999, 50%)
      &:hover
      &:active
      &.active
        background darken(#999999, 20%)
    &:nth-child(6) a
      border-bottom-color #c
      background darken(#c, 50%)
      &:hover
      &:active
      &.active
        background darken(#c, 20%)


