.years
  width 100%
  height 240px
  position absolute
  bottom 0px
  background black
  left 10px
  background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 15%);
  .year
    float left
    width 21px
    height @height
    position relative
    .title
      position absolute
      bottom 2px
      color #b
      font-size 12px
      position absolute
      left 50%
      width 40px
      margin-left -20px
      text-align center

  .death
    height 3px
    width 3px
    border-right 1px solid black
    border-top 1px solid black
    position absolute
    &.last-col
      width 2px
      border-right 0px none
    &.active
      opacity 0.5
  .incidents-parent
    position absolute
    bottom 25px
    left 0px
    .incident
      position absolute
      &.intro
      &.outro
        height 3px
  canvas
    position absolute
    bottom 25px
    left 0px
    opacity 0.2
    pointer-events none
