@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
@keyframes fadeInDownlighted
  from
    opacity 0
  to
    opacity 0.2
.years
  width 100%
  height 240px
  position absolute
  bottom 0px
  background black
  left 10px
  background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 15%);
  .year
    float left
    width 21px
    height @height
    position relative
    .title
      position absolute
      bottom 2px
      color #b
      font-size 12px
      position absolute
      left 50%
      width 40px
      margin-left -20px
      text-align center

  .incidents-parent
    position absolute
    bottom 25px
    left 0px
    .incident
      position absolute
      transition all 0.8s
      &.intro
      &.outro
        height 3px
      &.downlight
        opacity 0.2
      &.entering
        animation fadeIn 0.8s 1 linear
        &.downlight
          animation fadeInDownlighted 0.8s 1 linear
  canvas
    position absolute
    bottom 25px
    left 0px
    opacity 0.15
    pointer-events none
